services:
  db:
    image: pgvector/pgvector:pg15
    container_name: cc_postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    container_name: cc_redis
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: cc_django_app
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_healthy

  worker:
    build: .
    container_name: cc_celery_worker
    command: celery -A config worker -l info
    volumes:
      - .:/code
    env_file:
      - ./.env
    depends_on:
      app:
        condition: service_started
      redis:
        condition: service_healthy

volumes:
  postgres_data:
