services:
  # 1. Django Backend (API)
  - name: api
    type: web
    env: python
    plan: free
    rootDir: cc-backend
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application --timeout 120"
    healthCheckPath: /admin/login/
    envVars:
      - fromGroup: webdegree-secrets
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: DJANGO_SETTINGS_MODULE
        value: config.settings.production

  # 2. React Frontend (Static Site)
  - name: web
    type: web
    env: static
    rootDir: cc-frontend/frontend
    buildCommand: "npm install && npm run build"
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          type: web
          name: api
          property: host
